html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-bottom: 0% !important;
    margin: 0px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.active {
    color: #0d6efd !important;
    border-bottom: 2px solid #0d6efd;
}

.home {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 91vh;
}

.bg-black {
    background-color: #00000078;
    height: 91vh;
}

.bg-black-1 {
    background-color: #00000078;
    height: 500px;
}

.home-container {
    padding-top: 12rem;
}

.text-primary {
    color: #0ea29d;
}

.text-1 {
    color: white;
    line-height: 3.5rem;
    font-size: 2.8rem;
}

.link-1 {
    color: white;
    border-color: #0d6efd;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Roboto', sans-serif;
}

.link-1:hover {
    background-color: #0d6efd;
}

.link-2 {
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Roboto', sans-serif;
}

.link-2:hover {
    opacity: 0.8;
    background-color: #0d6efd;
}

.icon-phone {
    width: 55px;
    height: 55px;
    color: #0d6efd;
}

.link-3 {
    text-decoration: none;
}

.service-bg {
    background-image: url(../img/alejandro-escamilla-N7XodRrbzS0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.service-icon {
    /* width: 75px; */
    color: white;
}

.icon-border {
    font-size: 48px;
    padding: 0px 14px 14px 14px;
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px auto;
}

.s-text {
    color: white;
}

.s-head {
    color: white;
}

.box:hover {
    border: 1px solid white;
    background-color: #0000008f;
}

.team-img {
    width: 60%;
    margin-bottom: 1.5rem;
}

.team-desc {
    margin: auto 5%;
}

.social-icons {
    font-size: x-large !important;
    margin-top: 1rem;
    margin-right: 2rem;
}

.social-icons:hover {
    color: #0d6efd;
}